<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="col-xs-8 col-xs-offset-2">
        <h1>Little URL tada!</h1><br><br>
        <% tiny_url = "#{@url.short_url}" %>
        <div id="short-url">
          <%= link_to tiny_url, tiny_url, target: "blank" %>
        </div>
      </div>
    </div>
  </div>
</header>