<footer>
  <div class="container text-center">
    <h4>Made by <span class="footer_name"><%= link_to 'Christina Leuci', 'http://www.linkedin.com/in/christinaleuci', target: 'blank' %></span></h4>
  </div>
</footer>