<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a id="nav_a" href="/"><h2>Home</h3></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li>
            <a id="nav_a" class="page-scroll" href="/popular"><h3>Most Popular Sites</h3></a>
        </li>
      </ul>
    </div>
  </div>
</nav>