<!DOCTYPE html>
<html>
  <head>
    <title>Url Shortener</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="Christina Leuci">
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <h1 class="col-lg-12 text-center">Phenomenal cosmic powers! </h1>
        <h3 class="col-lg-12text-center">itty bitty living space.</h3>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
