<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <h1 class="col-lg-12 text-center">Phenomenal cosmic powers! </h1>
    <h3 class="col-lg-12text-center">Itty bitty living space!</h3>
  </div>

  <%= yield %>
</div>

</body>
</html>